@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'CircularStd-bold';
    src: url('../fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Majorant-bold';
    src: url('../fonts/Majorant-Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'Majorant-regular';
    src: url('../fonts/Majorant-Rg.ttf') format('truetype');
}

body {
    font-family: 'CircularStd';
    margin: 0;
    padding: 0;
    print-color-adjust:exact;
    -webkit-print-color-adjust:exact;
}

ul {
    padding: 0;
}

.container {
    padding: 40px 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: rgba(0, 48, 87, 1);
}

.title h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Majorant-bold';
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    color: rgba(0, 48, 87, 1);
}

.date {
    align-self: flex-end;
}

.gray-container {
    background-color: #e4e4e3;
    border-radius: 35px;
    padding: 20px 30px;
    /* box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.1); */
    display: flex;
    flex-direction: column;
}

.gray-container h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Majorant-bold';
}

.gray-container span {
    font-family: 'CircularStd-bold';
}

.last-info {
    padding-top: 30px;
}

.last-info p {
    text-align: center;
    font-family: 'Majorant-regular';
    color: rgba(0, 48, 87, 1);
    padding-bottom: 20px;
}

.last-info span {
    font-family: 'Majorant-bold';
}

.footer {
    background-color: #0276DD;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}