@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'CircularStd-bold';
    src: url('../fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Majorant-bold';
    src: url('../fonts/Majorant-Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'Majorant-regular';
    src: url('../fonts/Majorant-Rg.ttf') format('truetype');
}

body {
    font-family: 'CircularStd';
    margin: 0;
    padding: 0;
    print-color-adjust:exact;
    -webkit-print-color-adjust:exact;
}

p {
    margin: 10px 0;
}

ul {
    padding: 0;
}

.container {
    padding: 30px 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: rgba(0, 48, 87, 1);
}

.title h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Majorant-bold';
    text-transform: uppercase;
}

.first-row {
    display: flex;
    flex-direction: column;
    color: rgba(0, 48, 87, 1);
}

.date {
    align-self: flex-end;
}

.gray-container {
    background-color: #e4e4e3;
    border-radius: 35px;
    padding: 20px 30px;
    /* box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.1); */
    display: flex;
    
}

.gray-container-left,
.gray-container-right {
    font-family: 'CircularStd-bold';
    width: 50%;
}

.second-row {
    display: flex;
    padding: 40px 0 60px;
    gap: 40px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.saldo-anterior-container,
.blue-container {
    display: flex;
    padding-bottom: 30px;
}

.saldo-anterior-container div:first-child {
    color: #fff;
    background-color: rgba(0, 48, 87, 1);
    border: 1px solid rgba(0, 48, 87, 1);
    width: 50%;
    padding: 0 20px;
    font-family: 'Majorant-bold';
}

.saldo-anterior-container div:last-child {
    text-align: center;
    border: 1px solid rgba(0, 48, 87, 1);
    width: 50%;
    font-family: 'CircularStd';
}

.movimientos-mes {
    display: flex;
    flex-direction: column
}

.movimientos-mes h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(0, 48, 87, 1);
    font-family: 'Majorant-bold';
}

.movimientos-tabla {
    display: flex;
    flex-direction: column;
}

.tabla-item {
    display: flex;
}

.tabla-item .objeto {
    color: #fff;
    background-color: rgba(0, 48, 87, 1);
    border-bottom: 1px solid #fff;
    width: 50%;
    padding: 0 20px;
    font-family: 'Majorant-bold';
}

.tabla-item .precio {
    text-align: center;
    border: 1px solid rgba(0, 48, 87, 1);
    width: 50%;
    font-family: 'CircularStd';
}

.tabla-item .precio-bold {
    text-align: center;
    border: 1px solid rgba(0, 48, 87, 1);
    width: 50%;
    font-family: 'CircularStd-bold';
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.mini-table {
    display: flex;
    flex-direction: column;
    padding-bottom: 44px;
}

.upper-row {
    display: flex;
}

.upper-row div {
    color: #fff;
    background-color: #0276DD;
    width: 50%;
    padding: 0 20px;
    font-family: 'Majorant-bold';
    text-align: center;
}

.upper-row div:first-child {
    border-right: 2px solid #fff;
}


.bottom-row {
    display: flex;
}

.bottom-row div:first-child {
    text-align: center;
    border-left: 1px solid #0276DD;
    border-top: 1px solid #0276DD;
    border-right: 2px solid #0276DD;
    border-bottom: 1px solid #0276DD;
    width: 50%;
    font-family: 'CircularStd';
    padding: 0 20px;
}

.bottom-row div:last-child {
    text-align: center;
    border: 1px solid #0276DD;
    border-left: none;
    width: 50%;
    font-family: 'CircularStd';
    padding: 0 20px;
}

.blue-container div:first-child {
    color: #fff;
    background-color: #0276DD;
    width: 50%;
    padding: 0 20px;
    font-family: 'Majorant-bold';
    text-align: center;
}

.blue-container div:last-child {
    text-align: center;
    border: 1px solid #0276DD;
    width: 50%;
    font-family: 'CircularStd';
    padding: 0 20px;
}

.fecha-limite p {
    text-transform: uppercase;
    color: rgba(0, 48, 87, 1);
    font-family: 'Majorant-bold';
}

.produccion-mes {
    display: flex;
    flex-direction: column;
}

.produccion-title {
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(0, 48, 87, 1);
    font-family: 'Majorant-bold';
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr); /* 11 columns with equal width */
    padding-bottom: 30px;
  }
  
  /* Style for each grid item */
  .grid-item {
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
  }

  .up {
    color: #fff;
    background-color: rgba(0, 48, 87, 1);
    /* border-left: 1px solid #fff; */
    border-right: 1px solid #fff;
  }

  .up div {
    font-family: 'Majorant';
  }

  .down {
    border-right: 1px solid rgba(0, 48, 87, 1);
    border-bottom: 1px solid rgba(0, 48, 87, 1);
  }

    .down-first {
    border-left: 1px solid rgba(0, 48, 87, 1);
    border-bottom: 1px solid rgba(0, 48, 87, 1);
    border-right: 1px solid rgba(0, 48, 87, 1);
  }

  .down div {
    font-family: 'CircularStd';
  }

  .last-info {
    padding: 20px 0;
    text-align: center;
  }

  .last-info p {
    color: rgba(0, 48, 87, 1);
    font-family: 'Majorant-regular';
  }

  .last-info span {
    font-family: 'Majorant-bold';
  }

.footer {
    background-color: #0276DD;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}